.container {
  width: 100%;
  padding: 1rem;
  padding-top: 4rem;
}

.innerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 28rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.disclosureItem {
  margin-top: 1rem;
}

.disclosureButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
  padding: 0.75rem 1rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a5568;
  border: 1px solid #e2e8f0;
}

.disclosureButton:hover {
  background-color: #e2e8f0;
}

.disclosureButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 126, 176, 0.5);
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #4a5568;
}

.iconOpen {
  transform: rotate(180deg);
}

.disclosurePanel {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  color: #4a5568;
}
