.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the background color for better visibility */
  position: fixed;
  top: 0; /* Ensure the modal is positioned at the top of the viewport */
  left: 0; /* Ensure the modal is positioned at the left of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure the modal is above other elements */
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .title {
  text-align: center;
  margin-top: 10px;
}

.modalContainer .body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.cancelBtn {
  background-color: crimson;
}
