.heroShelters {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.heroShelters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/images/94233519_664701937702194_3038329435070660608_n.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
  opacity: 12;
}

.heroContent {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.heroContent h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.heroContent p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #ff6f61;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #ff4f41;
}
