.listboxSelected {
  height: 50px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  background-color: #e0f0ff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.listboxFilterText {
  flex-grow: 1;
  text-align: left;
}

.listboxArrowIcon {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  color: #4a4a4a;
}

.rotate180 {
  transform: rotate(180deg);
}

.listboxOption {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: background-color 0.2s;
  font-size: 1rem;
}

/* .listboxOption:hover {
  background-color: #e0f0ff;
} */

.listboxOptionText {
  flex-grow: 1;
}

.listboxOptionIcons {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  position: relative;
  width: 2rem;
}

.listboxOptionCheckIcon,
.listboxOptionXIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s;
  width: 1.25rem;
  height: 1.25rem;
}

.listboxOptionCheckIcon {
  color: #10b981;
  opacity: 1;
}

.listboxOptionXIcon {
  right: 0;
  color: #ef4444;
  opacity: 0;
  cursor: pointer;
}

.listboxOption:hover .listboxOptionCheckIcon {
  opacity: 0;
}

.listboxOption:hover .listboxOptionXIcon {
  opacity: 1;
}

.fillterContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flexContainer button {
  display: flex;
}

.listboxOptionsOpen {
  background-color: #f0f8ff;
  width: 160px;
}

.petCardsContainer {
  margin-left: 125px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 4px;
}

.mainContainer {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 160px;
  padding-bottom: 160px;
}

.flexContainer {
  display: flex;
  width: 100%;
  gap: 16px;
}

@media only screen and (max-width: 1000px) {
  .petCardsContainer {
    float: left;
    margin-left: 50px;
    grid-template-columns: repeat(1, 300px);
    gap: 4px;
  }
  .fillterContainer .listboxSelected {
    margin-left: 0;
    width: 100px;
  }
}

/* .fixed {
  position: unset;
} */
