.listbox-selected {
  height: 50px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  background-color: #e0f0ff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.listbox-filter-text {
  flex-grow: 1;
  text-align: left;
}

.listbox-arrow-icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  color: #4a4a4a;
}

.rotate-180 {
  transform: rotate(180deg);
}

.listbox-option {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.listbox-option:hover {
  background-color: #e0f0ff;
}

.listbox-option-text {
  flex-grow: 1;
}

.listbox-option-icons {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  position: relative;
  width: 2rem;
}

.listbox-option-check-icon,
.listbox-option-x-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s;
  width: 1.25rem;
  height: 1.25rem;
}

.listbox-option-check-icon {
  color: #10b981;
  opacity: 1;
}

.listbox-option-x-icon {
  right: 0;
  color: #ef4444;
  opacity: 0;
  cursor: pointer;
}

.listbox-option:hover .listbox-option-check-icon {
  opacity: 0;
}

.listbox-option:hover .listbox-option-x-icon {
  opacity: 1;
}

.fillter-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.w-full button {
  display: flex;
}

.listbox-options-open {
  background-color: #f0f8ff;
}

.pet-cards-container {
  margin-left: 125px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 4px;
}

@media only screen and (max-width: 1000px) {
  .pet-cards-container {
    float: left;
    margin-left: 50px;
    grid-template-columns: repeat(1, 300px);
    gap: 4px;
  }
  .fillter-container .listbox-selected {
    margin-left: 0;
    width: 100px;
  }
}
