* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #000;
  width: 100%;
  color: #e9ecef;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.nav img {
  height: 64px;
  margin-left: 24px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: 16px;
}

.nav ul li:first-child {
  margin-left: 0;
}

.nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.nav ul li a:hover {
  color: red;
}

#section--1 {
  background-image: url('/images/Charizard\ VSTAR-1280x800.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
}

.content {
  text-align: center;
  width: 300px;
}

.content button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
}

.content img {
  height: 180px;
}

.pikachu {
  margin-left: 180px;
}

.charazard {
  margin-right: 180px;
}

.title {
  position: relative;
  /* margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 18%; */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #000;
  border-radius: 8px;
  z-index: 10;
  background-color: #f9f9f9;
  width: 500px;
  max-width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.modal-header .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #495057;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #adb5bd;
}

.modal-body {
  padding: 20px 15px;
  color: #adb5bd;
}

.modal a {
  text-decoration: none;
  margin-left: 8px;
}

.modal a:hover {
  color: #4dabf7;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.title img {
  position: absolute;
  height: 200px;
  left: 43%;
}

footer {
  background-color: #f03e3e;
  height: 250px;
}

.footer-left {
  text-align: center;
}

.footer-left img {
  margin-top: 6px;
  height: 80px;
}

.footer__nav {
  margin-left: 16px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #e9ecef;
  text-decoration: none;
}

.footer__item img {
  height: 32px;
}

footer .copyright {
  padding: 18px 10%;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #a2a2a2;
  font-weight: 200;
  margin: 0;
  background-color: #e9ecef;
}

.footer-right img {
  height: 32px;
}

.github-links {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  list-style: none;
}

.text {
  font-size: 24px;
}

.contact-container {
  background-color: #e9ecef;
  padding: 33px;
}

.contact-container h1 {
  color: #343a40;
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
}

input {
  background-color: #fff;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: #000;
  margin-bottom: 20px;
}

textarea {
  background-color: #fff;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: #000;
  margin-bottom: 25px;
}

input:focus-within {
  outline: none;
  border-color: #5bd183;
  border-width: 3px;
}

textarea:focus-within {
  outline: none;
  border-color: #5bd183;
  border-width: 3px;
}

.contact-container button {
  background-color: #5bd183;
  border-radius: 8px;
  border-color: #000;
  font-size: 22px;
  padding: 10px 60px;
  text-align: center;
  position: absolute;
  left: 202px;
  bottom: -150px;
}

.contact-container button:hover {
  opacity: 80%;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

form label {
  margin-left: 170px;
}
