section {
  text-align: center;
}

.shelter-title {
  margin: 40px;
  margin-bottom: 90px;
}

#light .shelter-title {
  color: #000;
}

#dark .shelter-title {
  color: #fff;
}

img {
  width: 120px;
}

.stats-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.stat {
  padding: 20px 80px;
  border-radius: 10px;
}

#light .stat {
  background-color: #e9ecef;
  color: #000;
}

#dark .stat {
  background-color: #4e4b4b;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .stats-row {
    flex-direction: column;
    gap: 80px;
  }

  .stat {
    padding: 10px 30px;
  }

  img {
    width: 110px;
  }
}
