* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#light {
  background-color: #ced4da;
}

#dark {
  background-color: #242424;
}

.navbar {
  height: 75px;
  background-color: #ced4da;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}
.navbar img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
}

.dropdown {
  float: left;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.nav-container-right {
  display: flex;
  justify-content: flex-end;
}
.nav-container-right a {
  margin-left: 10px;
  text-decoration: none;
}
.donation-link {
  order: 1;
}
.log-in {
  order: 2;
}
.sign-in {
  order: 3;
}

.navbar a:nth-child(1) {
  border-right: 1px solid black;
}

.donation-link {
  padding-right: 20px;
}

.donation-link:hover .heart-text {
  color: red;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-width: 15em;
  position: relative;
}

.select {
  background-color: #ced4da;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}
.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background-color: #323741;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #ced4da;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container #box-2 {
  margin-top: 20px;
  border-radius: 10px 0 0 10px;
  border-right: none;
  padding-right: 95px;

  /* border-right: 1px #23242a solid; */
}

.container #box-3 {
  margin-top: 20px;
  border-radius: 0 10px 10px 0;
  border-left: none;
  padding-left: 95px;
}

#box-line {
  min-width: 0;
}

.footer {
  background-color: #f9f9f9;
  color: #23242a;
  padding: 2px;
  text-align: center;
  width: 100%;
}

#dark .footer {
  background-color: #333;
  color: #ced4da;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
}

.filters {
  height: 293px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pet-categories {
  background-color: #ced4da;
  width: 100%;
  padding: 20px;
  text-align: center;
}

#dark .pet-categories {
  background-color: #23242a;
}

#menu-search {
  top: 11em;
}

.button-container {
  display: flex;
  gap: 20px;
}

.buttons {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.square-btn {
  background-color: #fff;
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin: 8px;
  padding: 20px;
  /* display: flex; */
  cursor: pointer;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
}

.square-btn img {
  max-width: 80%;
  max-height: 80%;
}

.square-btn:hover {
  background-color: #e9ecef;
}

.footer-dis {
  background-color: #adb5bd;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: auto;
}

#dark .footer-dis {
  background-color: #343a40;
}

.footer-icons {
  color: #fff;
  padding: 20px;
  height: 90px;
}

.footer-icons {
  margin-bottom: 8px;
  margin: 0 auto;
}

.footer-icons a {
  margin-right: 30px;
}

.footer-icons img {
  flex-direction: row;
  height: 40px;
}

.footer-links {
  width: 200px;
}

.footer-adress {
  width: 200px;
}

.selected {
  width: 75px;
}

@media only screen and (max-width: 1000px) {
  .buttons .square-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-dis {
    flex-direction: column;
  }
}
