.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin-bottom: 60px;
}

.team-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.team-card img {
  margin-right: 16px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.team-card-content {
  flex-grow: 1;
}

.team-card h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1a202c;
}

.team-card h3 {
  margin-bottom: 8px;
  color: #4a5568;
}

.team-card p {
  margin-bottom: 16px;
  color: #2d3748;
}

.icon-container {
  display: flex;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
  color: #4a5568;
  cursor: pointer;
}

#light .colaborators-container {
  background-color: #ced4da;
}

#dark .colaborators-container {
  background-color: #242424;
}

#dark .team-card h2 {
  color: azure;
}

#dark .team-card p {
  color: antiquewhite;
}

#light .colaborators-mb-20 {
  color: #2d3748;
}

.colaborators-mb-20 {
  margin-top: 20px;
}
